.button
    font-family: sans-serif
    font-size: 17px
    text-transform: uppercase
    display: block
    line-height: 26px
    text-decoration: none
    background-color: transparent
    height: 26px
    padding: 0 10px
    color: #333333
    border: 1px solid #333
