*
    box-sizing: border-box
    color: #333d45

@font-face
    font-family: futura
    src: url(../static/fonts/futura-normal.ttf)
@font-face
    font-family: ponter
    src: url(../static/fonts/Ponter.ttf)
@font-face
    font-family: crimson
    src: url(../static/fonts/Crimson.ttf)


body
    padding: 0
    margin: 0

.link_decoration-none
    text-decoration: none

.content
    padding: 0 20px

.logo
    display: flex
    align-items: center

    &__text
        font-size: 40px
